
 * {
    box-sizing: border-box;
    

 }
 
 h1 {
    display: block;
    font-size: 2em;
    
 }
 nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


 }

 img {
    width: 200px;
    height: 200px;
 }
  
  
  




